body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

/* Modal ayarları */
.modal {
    display: none; /* Gizli başlar */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Yarı saydam arka plan */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}
